.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}
.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  outline-width: 0px;
  position: relative;
}
.header_serachIcon {
  margin-top: 4px;
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_serachIcon:hover {
  cursor: pointer;
}

.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  margin-right: 10px;
}

.header_basketCount {
  position: absolute;
  right: 0;
  margin-bottom: 20px;
}

.searching_items {
  position: absolute;
  top: 50px;
  width: 50%;
  background-color: white;
  padding: 5px;
  max-height: 30vh;
  overflow-y: scroll;
}

.searching_items > p {
  padding: 4px;
  border: 1px solid lightgray;
  margin: 5px 0px;
}

.searching_items > p:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
